
.itemsFadeOut.ng-move,
.itemsFadeOut.ng-enter,
.itemsFadeOut.ng-leave { 
    -webkit-transition:all linear .7s;
    transition:all linear .7s;
} 
.itemsFadeOut.ng-leave.ng-leave-active, 
.itemsFadeOut.ng-move, 
.itemsFadeOut.ng-enter {  
    opacity:0; 
}  
.itemsFadeOut.ng-leave, 
.itemsFadeOut.ng-move.ng-move-active, 
.itemsFadeOut.ng-enter.ng-enter-active {   
    opacity:1; 
}

@keyframes bounceOutRight {
    20% {
      opacity: 1;
      transform: translate3d(-20px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }
}

.bookmarksLeaving.ng-leave {
    animation: 0.8s linear bounceOutRight;
}

.bookmarksLeaving.ng-move,
.bookmarksLeaving.ng-enter { 
    -webkit-transition:all linear .7s;
    transition:all linear .7s;
} 
.bookmarksLeaving.ng-move, 
.bookmarksLeaving.ng-enter {  
    opacity:0; 
}  
.bookmarksLeaving.ng-move.ng-move-active, 
.bookmarksLeaving.ng-enter.ng-enter-active {   
    opacity:1; 
}