
<form ng-submit="$ctrl.createBookmark($ctrl.newBookmark)" class="animated fadeIn">
        <div class="bookmarkCreateInputs" flex>
                <md-input-container class="md-block" flex-gt-sm>
                <label>Bookmark Name</label>
                <input ng-model="$ctrl.newBookmark.name"
                       class="addBookmarkName"
                       maxlength="30"
                       required>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                <label>Bookmark Link</label>
                <input ng-model="$ctrl.newBookmark.url"
                       class="addBookmarkLink"
                       required>
                </md-input-container>
        </div>
        <div class="button-holder">
                <md-button class="md-raised md-primary saveBookmark"
                           type="submit">Create
                </md-button>
                <md-button class="md-raised md-warn cancelCreatingBookmark"
                           ng-click="$ctrl.cancelCreating()">Cancel
                </md-button>
        </div>
</form>