
<form ng-submit="dialogEditCtrl.updateBookmark(dialogEditCtrl.isEditingBookmark)" class="animated fadeIn">
    <div class="bookmarkEditInputs" flex>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="dialogEditCtrl.isEditingBookmark.name">
        </md-input-container> 
        <md-input-container class="md-block" flex-gt-sm>
            <label>Link</label>
            <input ng-model="dialogEditCtrl.isEditingBookmark.url">
        </md-input-container>
    </div>

    <md-button class="md-raised md-primary updateButton"
               type="submit">Update
    </md-button>
    <md-button class="md-raised md-warn cancelButton"
               ng-click="dialogEditCtrl.cancelEditing()">Cancel
    </md-button>
</form>