
<!-- Search field with clear button -->
<div class="title" flex>
    <div class="searchField" layout="row">
        <md-input-container md-no-float class="md-block">
            <input ng-model="$ctrl.search.name"
                   placeholder="Search bookmarks..."
                   id="myInput">
        </md-input-container>
        <md-button class="md-raised md-primary clearSearchFieldBtn"
                   ng-if="$ctrl.search.name.length > 0"
                   ng-click="$ctrl.clearSearchField()">Clear Up</md-button>
    </div>
</div>

<!-- Bookmark list -->
<div flex class="bookmarkLinksColor animated fadeIn">
    <md-list>
        <md-list-item class="itemsFadeOut"
                      ng-repeat="bookmark in $ctrl.bookmarks | filter: {category: $ctrl.currentCategoryName} | filter: $ctrl.search">
            <div flex="80">
                <a href="{{bookmark.url}}">{{bookmark.name}}</a>
                <i class="material-icons close"
                   ng-click="$ctrl.deleteBookmark(bookmark)">clear</i>
                <i class="material-icons edit"
                   ui-sref="app.bookmarks.edit({bookmarkId: bookmark.id, 
                    category:($ctrl.currentCategoryName) ? ($ctrl.currentCategoryName) : ''})">create</i>
                <md-divider class="divider"></md-divider>
            </div>
        </md-list-item>  
    </md-list> 
</div>

<!-- Edit Form -->
<div ui-view="bookmark-edit" class="editForm" flex></div>
    
<!--ADDING FORM-->
<div class="container">
    <div ui-view="bookmark-create">
        <i class="material-icons addBookmarkIcon"
           ng-if="$ctrl.currentCategoryName"
           ui-sref="app.bookmarks.create">playlist_add</i>
    </div>
</div>

    

