
<form class="animated fadeIn"
      ng-submit="$ctrl.createCategory($ctrl.categoryName)">
        <md-input-container class="md-block categoryCreateInput" flex-gt-sm>
                <label>Category name</label>
                <input ng-model="$ctrl.categoryName"
                       name="nameInput" 
                       maxlength="40"
                       required>
        </md-input-container>
        <div flex layout="row" layout-align="space-around none">
            <md-button class="md-raised md-primary saveCategory" 
                       type="submit">Save</md-button>
            <md-button class="md-raised md-warn cancelCategory" 
                       ng-click="$ctrl.cancelCreating()">Cancel</md-button>
        </div> 
</form>